VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=http://localhost:3000
VITE_APP_NAME=APP NAME
VITE_APP_ENV=development
VITE_APP_VERSION=1.0.0
VITE_SENTRY_DSN=https://your-sentry-dsn@sentry.io/your-project-id
